{% extends 'base.html' %}

{% block content %}

<div class="vertical-center">
  <div class="container full-width">
    <div class="title">
      <h1>FETCH</h1>
      <i class="fa fa-users fa-lg"></i>
      &nbsp;
      <i class="fa fa-arrow-right fa-lg"></i>
      &nbsp;
      <i class="fa fa-bar-chart fa-lg"></i>
      &nbsp;
      <i class="fa fa-arrow-right fa-lg"></i>
      &nbsp;
      <i class="fa fa-comment fa-lg"></i>
    </div>
    <div class="description">
      <p><b>FETCH is a minimalistic web application to scan your social network and find skilled people based on their interests.</b></p>
      <p><b>Charts and diagrams will be drawn to allow you to find people wih skills that you are interested in. </b></p>
      <p><b>What's next ?</b></p>
      <p><i class="fa fa-coffee fa-lg"></i></p>
      <p><b>Time for a cup of coffee</b></p>
    </div>
    <div class="social">
      <i class="fa fa-facebook-official fa-5x"></i>
      <p>We won't post anything to your friends or on your wall.</p>
    </div>
  </div>
</div>

{% endblock %}
