{% extends 'base.html' %}

{% block content %}

<div class="vertical-center">
  <div class="container full-width">
    <div class="title">
      <h1>FETCH</h1>
    </div>
    <div class="description">
      <p>FETCH is a minimalistic web application to scan your social network and find skilled people based on their interests.</p>
      <p>Charts and diagrams will be drawn to allow you to find people wih skills that you are interested in. </p>
      <p>What's next ?</p>
      <p><i class="fa fa-coffee fa-lg"></i></p>
      <p>Time for a cup of coffee</p>
    </div>
    <div class="social">
      <i class="fa fa-facebook-official fa-5x"></i>
      <p>We won't post anything to your friends or on your wall.</p>
    </div>
  </div>
</div>

{% endblock %}
