
div.full-width {
  width: 100%;
  padding: 0;
}

div.vertical-center {
  /*bg img*/
  background: url("/static/images/hello.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

div.title {
  text-align: center;
  background-color:rgba(0,0,0,0.3);
  border-bottom: 1px solid rgba(20,44,44,0.4);
}

.title h1 {
  color: white;
  padding: 10px;
  font-size: 5em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin-bottom: 0;
}

.title i {
  padding-bottom: 20px;
}

div.description {
  background-color:rgba(0,0,0,0.4);
  padding: 5px;
  margin-top: 1%;
}

div.description p {
  color: #cccccc;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

div.description i{
  color: #333;
}


div.social {
  text-align: center;
}

div.social i {
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid transparent;
}

div.social i:hover {
  color: white;
  border-bottom: 1px solid white;
}

div.social p{
  color: #cccccc;
}
